* {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	box-sizing: border-box;
}

body {
	background: url("./checkeredTransparentLight.png") repeat fixed;
	background-size: 25px;
	margin: 0;
}

h3 {
	margin: 0;
}

p {
	margin: 0;
}

.card {
	margin: 1em;
	background-color: rgba(255,255,255,0.9);
	padding: 1em;
	box-shadow: 3px 5px 5px rgba(0,0,0,0.2);
	border-radius: 3px;
}

.card textarea,
.card input,
.card select {
	margin-bottom: 1em;
}

.input73L {
	width: 69%;
}

.input73R {
	width: 28%;
	float: right;
}

.input100 {
	width: 100%;
}

textarea.input100 {
	resize: none;
	overflow-y: scroll;
}
