* {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	box-sizing: border-box;
	min-width:2em;
}

body {
	background: url("./bgBlur.png") repeat fixed;
	background-size: 25px;
	margin: 1em 2em;
}

h3 {
	margin: 0 0 .25em 0;
}

p {
	margin: 0;
}

.card {
	min-width: 20em;
	max-width: 800px;
	margin: 1em auto;
	background-color: rgba(255,255,255,0.9);
	padding: 1em;
	box-shadow: 3px 5px 5px rgba(0,0,0,0.2);
	border-radius: 3px;
	display: flex;
	flex-direction: column;
}
.card-open {
	display: flex;
	flex-direction: column;
}
.card-open {
	display: none;
	flex-direction: column;
}

.card a {
	color: #45b;
}

.card.grow {
	display: flex;
	flex-direction: column;
	resize: vertical;
	overflow: auto;
}

.card.grow > * {
	flex-grow: 0;
	flex-shrink: 0;
}

.card textarea,
.card input,
.card select {
	margin-bottom: 1em;
}

.card textarea,
.card select {
	resize: none;
}

.grow-1 {
	flex-grow: 1 !important;
}

.section-73 {
	display: flex;
}
.section-73 > *:first-child {
	flex-grow: 6;
	flex-basis: 0;
	margin-right: 1em;
}
.section-73 > *:nth-child(2) {
	flex-grow: 4;
	flex-basis: 0;
}

.flex-1col {
	display: flex;
	flex-direction: column;
}
.bt-max-5 > button {
	max-width: 10em ;
}
/*
.input73L {
	width: 69%;
}

.input73R {
	width: 28%;
	float: right;
}

.input100 {
	width: 100%;
}

textarea.input100 {
	resize: none;
	overflow-y: scroll;
}
*/
.info-mark {
	color: #999;
}
.info-mark a {
	color: #999;
	text-decoration: none
}

button.minimizar {
	float:right
}

.card.help {
	background: rgba(255,255,255,0.0);
	box-shadow: 0 0 0 0;
}

.body-ajuda {
	background: url("./bgBlurLight.png") repeat fixed;
	background-size: 25px;
	margin: 1em 2em;
}

.body-ajuda > h1 {
	color: #45b;
}

.body-ajuda > p {
	display: block;
	margin-top: 1em;
	line-height: 1.5;
}

.blue h1,
.blue h2,
.blue h3 {
	color: steelblue;
}
.green h1,
.green h2,
.green h3 {
	color: #4a4;
}
.red h1,
.red h2,
.red h3 {
	color: tomato;
}