* {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	box-sizing: border-box;
}

body {
	background: url("./checkeredTransparentLight.png") repeat fixed;
	background-size: 25px;
	margin: 0;
}

h3 {
/*	background-color: lightskyblue; */
	margin: 0;
}

p {
	margin: 0;
}

hr {
	display: none;
}

.spaced-area {
	margin: 1em;
	background-color: rgba(255,255,255,0.9);
	padding: 1em;
	box-shadow: 3px 5px 5px rgba(0,0,0,0.2);
	border-radius: 3px;
}

.spaced-area > button {
	margin-top: 1em;
}

.btSair {
	/*float: right;*/
	display: block;
	
}

.input73L {
	width:69%;
}

.input73R {
	width:28%;
	float: right;
}
